<div class="navbar-text pull-right">
    <a href="/profile" class="navbar-link">{{ user.name }}</a>
    (<a href="/api/session" id="signout" class="navbar-link">Signout</a>)
</div>

<script type="text/javascript">
jQuery(function($) {
    $('#signout').click(function() {
        if ($(this).is('.disabled')) return false;
        $(this).toggleClass('disabled', true);
        $.ajax({
            url: '/api/session',
            type: 'DELETE'
        }).done(function() {
            window.location = '/';
        }).fail(function() {
            alert('Logout action failed. Clearing your browser\'s cookies will automatically and securely cause your session to be closed.');
            $('#signout').toggleClass('disabled', false);
        });
        return false;
    });
});
</script>