{{#unless xhr}}
<h1>Contact Arctic Pass</h1>
{{/unless}}

<form class="form-horizontal" action="/api/contact" method="post" id="form-contact">
    <div class="alert alert-success hide">
        <strong>Message Sent!</strong> Thank you!
    </div>
    <div class="alert alert-error hide">
        <strong>Error Processing Request.</strong>
        There was a problem recording your message.
    </div>

    {{ helper 'fields/text'     label="Your Name"     id="contact-name"    name="name"    size="large" class="required" val=user.name }}
    {{ helper 'fields/text'     label="Email Address" id="contact-email"   name="email"   size="large" class="required email" val=user.email }}
    {{ helper 'fields/textarea' label="Message"       id="contact-message" name="message" size="xlarge" class="required" }}
    {{ helper 'fields/submit'   label="Submit" }}
</form>
<style>
#contact-message { width: 400px; height: 100px; }
</style>

<script type="text/javascript">
jQuery(function($) {
    $('#form-contact').validate({
        submitHandler: function(form) {
            form = $(form);
            form.ajaxSubmit({
                success: function (data) {
                    form.find(':input:not(:submit)').val('');
                    form.find('.alert-success').show();
                    $('#modal-contact').modal('hide');
                },
                error: function (xhr, err) {
                    form.find('.alert-error').show();  
                },
                complete: function() {
                    form.find(':input:not(:submit)').removeAttr('disabled');
                    form.find(':submit').button('reset');
                }
            });
            form.find('.alert').hide();
            form.find(':input:not(:submit)').attr('disabled', 'disabled');
            form.find(':submit').button('loading');
            return false;
        }
    });
});
</script>