<h2>Frequently Asked Questions</h2>

<p>
    <a href="/">&laquo; Return to Home Page</a>
</p>

<dl>
    <dt>Can I stop the training and come back later?</dt>
    <dd>Yes you can. It will automatically bookmark your location at your last completed module (green check marked) and then continue where you left off.</dd>

    <dt>What are the system requirements?</dt>
    <dd>We recommend a computer with 2 GBs of RAM and an operating system of Windows 7 or Mac OS 10.7 (or higher). The site will run a lesser system but your experience may be degraded.</dd>

    <dt>Can I pause a module anytime?</dt>
    <dd>It's best to pause modules at the start of them instead of the middle or the end. Pausing modules near the middle or end may not restart correctly if you have a slow or inconsistent Internet connection or are behind a corporate firewall/VPN.</dd>

    <dt>What do I do if I have trouble with the video or audio not working correctly?</dt>
    <dd>First step is always to pause the video for a few seconds while the bar loads at the bottom. You can also rewind it if necessary.</dd>

    <dt>What if my video or training appears to be stuck or frozen.</dt>
    <dd>Press the refresh button on your browser, if that does not work, close your browser and login again.</dd>

    <dt>Who do I contact if I still have trouble?</dt>
    <dd>You may contact your local administrator who gave you the website information or select the Contact Us link at the top of any of these pages.</dd>

    <dt>I can't get to the quiz section. Why?</dt>
    <dd>The program is set up so that you must complete the video modules before you are allowed to take the quizzes.</dd>

    <dt>How do show I have completed the course?</dt>
    <dd>You will be able to email or print your certificate after taking the final quiz.</dd>

    <dt>The videos load very slow or not at all, but the audio works.</dt>
    <dd>Close all other programs and browser windows when taking the training. These can interfere with the memory requirements necessary to run the videos. </dd>
</dl>

<p>
    <a href="/">&laquo; Return to Home Page</a>
</p>

<style>
dd { margin-bottom: 10px; }
</style>