<h2>User Guide</h2>

<p>
    <a href="/">&laquo; Return to Home Page</a>
</p>

<ol>
    <li>If you have an email account already, just skip this step and proceed to #2. You must have an E-Mail account to use this system. If you do not have one, please signup for a free one at either: <a href="http://gmail.com">gmail.com</a>, <a href="http://yahoo.com">yahoo.com</a>, or <a href="http://outlook.com">outlook.com</a>.</li>
    <li>Create your account for this website by clicking the green signup button in the middle-right hand side of the page.</li>
    <li>Fill out the form with your information and choose a password you would like to use for this site, then press the signup button at the bottom of the form.</li>
    <li>Open your personal E-Mail account and open the new message you received from us and click the link in the message to complete your account verification.</li>
    <li>Once your account has been successfully verified, you may proceed to the My Training area and complete any training modules available to you by clicking the blue link(s).</li>
    <li>Watch the videos and take the corresponding quizzed at the end of each section.</li>
    <li>After you take the final quiz you will be able to print or save your certificate of completion. Keep this for your records incase you are asked for verification from an administrator.</li>
    <li>If you have any questions, please read the <a href="/faq">F.A.Q's</a> and the <a href="/guide">User Guide</a> on the <a href="/">home page</a> by clicking the Home link at the top. If your questions are still unanswered or you are having further technical issues, click the Contact Us link at the top of the page and we will get back to you as soon as possible.</li>
</ol>

<p>
    <a href="/">&laquo; Return to Home Page</a>
</p>