<p>
    Thank you for registering with Acme Pedicbs. Before you can begin using the site, click the
    link below to activate your account.
</p>
<p><a href="http://hail.acmepedicabs.com/activate/{{u.activation_code}}">Activate Your Account Now</a></p>
<p>Thanks!</p>