<p>
    You have asked to reset your Acme Pedicabs driver password. Enter this PIN number:
</p>
<h1>{{u.password_reset.pin}}</h1>
<p>
    This PIN will expire on <strong>{{date u.password_reset.expires}} {{time u.password_reset.expires}}</strong>.
</p>
<p>
    (If you have navigated away from the password reset page,
    <a href="http://hail.acmepedicabs.com/reset?email={{u.email}}">click here</a>
    to return.)
</p>